.navbar-transparent {
    position: absolute;
    top: 0;
    width: 100%;

}

.navbar-transparent::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(189, 131, 66, 1);
    filter: blur(8px);
    z-index: -1;
}


.blur {
    filter: blur(10px);
}

.background-image {
    background-color: #aa5709;
}

.background-image::before {
    background-color: inherit;
    filter: blur(10px);
}

.bigger-font {
    font-size: 25px;
    font-family: "Copperplate", Arial, Serif;
}

.center {
    text-align: center;
}

.font-family {
    font-family: "Copperplate", "Arial", serif;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
}

.sizing {
    height: 100%;
}

.sizing img {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

