<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1>User Form</h1>
<form th:action="@{/saveUser}" th:object="${client}" method="post">
    <label>Name: <input type="text" th:field="*{name}"></label><br>
    <label>Last Name: <input type="text" th:field="*{lastName}"></label><br>
    <label>Email: <input type="text" th:field="*{email}"></label><br>
    <label>Phone Number: <input type="text" th:field="*{phoneNumber}"></label><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
