<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOBRY PIASEK</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
</head>
<body class="background-image">
<img src="/images/banner.webp" alt="banner" style="width: 100%; height: auto;"/>
<nav class="navbar navbar-expand-lg sticky-top navbar-transparent">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link bigger-font px-4" href="#onas">O nas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bigger-font px-4" href="#galeria">Galeria</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bigger-font px-4" href="#cennik">Cennik</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bigger-font px-4" href="#kontakt">Kontakt z nami</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-5 center">
    <div class="jumbotron">
        <h1 class="font-family">Witamy na naszej stronie transportowej!</h1>
    </div>

    <section id="onas" class="my-5">
        <h2 class="font-family">O nas</h2>
        <p class="font-family">Nasza firma działa na rynku od ponad 10 lat. Zapewniamy najwyższą jakość piasku i profesjonalną obsługę transportową na terenie trójmiasta.</p>
    </section>

    <section id="galeria" class="my-5">
        <h2 class="font-family">Galeria</h2>
        <p class="font-family">Zobacz nasze produkty w akcji.</p>
    </section>

    <section id="cennik" class="my-5">
        <h2 class="font-family">Cennik</h2>
        <p class="font-family">Nasze ceny są dostosowane do Twoich potrzeb. Skontaktuj się z nami, aby uzyskać więcej informacji.</p>
    </section>

    <section id="kontakt" class="my-5">
        <h2 class="font-family">Kontakt z nami</h2>
        <p class="font-family">Jesteśmy do Twojej dyspozycji. Skontaktuj się z nami telefonicznie lub poprzez formularz poniżej:</p>
        <div class="form-container">
        <form id="contactForm">
            <div class="mb-3">
                <label for="name" class="form-label">Imię:</label>
                <input type="text" class="form-control" id="name" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" required>
            </div>
            <div class="mb-3">
                <label for="phoneNumber" class="form-label">Numer telefonu: (Opcjonalnie)</label>
                <input type="tel" class="form-control" id="phoneNumber">
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Wiadomość:</label>
                <textarea id="message" class="form-control" style="height: 150px; width: 100%; resize: none" required></textarea>
            </div>
            <button type="submit" class="btn btn-warning">Wyślij</button>
        </form>
        </div>
        <div id="successMessage" style="display: none; max-width: 600px; margin: 0 auto; padding: 20px; background-color: #c36410; border-radius: 10px; color: white;">
            <p>Wiadomość została wysłana pomyślnie! Skontaktujemy się z tobą w jak najkrótszym czasie.</p>
        </div>
        <address class="font-family">
            <strong>Piotr Janowicz</strong><br>
            Juliusza Słowackiego 249<br>
            80-369 Gdańsk<br>
            Tel: +48 609459833<br>
            Email: piotr246@wp.pl
        </address>
    </section>
</div>
<script src="/js/script.js"></script>
</body>
</html>