<!DOCTYPE html>
<html lang="pl">
<head>
    <meta name="google-site-verification" content="lp4O5aGOF6NSwiWN0QbHaYP8gnFmpYUM740tEOCsY9c" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dobry piasek - Strona główna</title>
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16634575530"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'AW-16634575530');
    </script>

</head>
<body class="background-image">
<nav class="navbar navbar-expand-lg navbar-custom custom-border-2 d-none d-lg-flex" >
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link bigger-font hover-lift px-4" href="#onas">O nas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bigger-font hover-lift px-4" href="#services">Usługi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bigger-font hover-lift px-4" href="#cennik">Cennik</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bigger-font hover-lift px-4" href="#kontakt">Kontakt z nami</a>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar-custom custom-border-2 d-lg-none navbar-mobile">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="mobileNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link bigger-font" href="#onas">O nas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bigger-font" href="#services">Usługi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bigger-font" href="#cennik">Cennik</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bigger-font" href="#kontakt">Kontakt z nami</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<img src="/images/banner.webp" alt="banner" style="width: 100%; height: auto;"/>
<div class="container mt-5 center">
    <div class="jumbotron">
        <h3 class="font-family custom-border-3">Witamy na naszej stronie transportowej!</h3>
    </div>

    <section id="onas" class="my-5">
        <h2 class="font-family">O nas</h2>
        <br>
        <div class="container d-flex justify-content-center">
            <div class="card service card-info table-color">
                <div class="card-body text-center table-color">
                    <p class="font-family about">
                        Nasza firma działa na rynku od ponad 10 lat. Zapewniamy najwyższą jakość piasku i profesjonalną obsługę transportową na terenie trójmiasta.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="services" class="my-5">
        <h2 class="font-family">Usługi</h2>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card service card-height table-color">
                        <img src="/images/transport-uslugowy.jpeg" class="img-fluid sizing card-2" alt="Usługa 1" style="height: 200px;">
                        <div class="card-body-2 text-center">
                            <p class="font-family card-text-2">TRANSPORT USŁUGOWY</p>
                            <p class="font-family card-text-2 sizing">Oferujemy przewozy transportowe do 3.5t. Jestem jedynie kierowcą, więc załadunek oraz rozładunek towaru musi być wykonane przez klienta. W przypadku piasku, kamieni i innych materiałów sypkich, nasze auto jest wyposażone w wywrotkę, która umożliwia łatwe wysypanie ładunku.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="card service card-height table-color">
                        <img src="/images/czarnoziem.webp" class="img-fluid sizing card-2" alt="Usługa 2" style="height: 200px;">
                        <div class="card-body-2 text-center">
                            <p class="font-family card-text-2">CZARNOZIEM</p>
                            <p class="font-family card-text-2 sizing">Jest to żyzna gleba o wysokiej zawartości próchnicy, idealna do poprawy jakości gleby w ogródkach i na terenach rolniczych. Dzięki swojej strukturze i składnikom odżywczym, wspomaga on zdrowy wzrost roślin.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="card service card-height table-color">
                        <img src="/images/piasek.jpeg" class="img-fluid sizing card-2" alt="Usługa 3" style="height: 200px;">
                        <div class="card-body-2 text-center">
                            <p class="font-family card-text-2">PIASEK PRZESIEWANY</p>
                            <p class="font-family card-text-2 sizing">To wysokiej jakości materiał budowlany, idealny do prac murarskich i tynkarskich. Doskonały również do piaskownic. Charakteryzuje się równomierną granulacją i brakiem zanieczyszczeń.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="card service card-height table-color">
                        <img src="/images/otoczak-polny.jpg" class="img-fluid sizing card-2" alt="Usługa 4" style="height: 200px;">
                        <div class="card-body-2 text-center">
                            <p class="font-family card-text-2">Otoczak polny kolorowy</p>
                            <p class="font-family card-text-2 sizing">To naturalny kamień o różnorodnych barwach, idealny do dekoracji ogrodów, ścieżek i oczek wodnych. Jest trwały, odporny na warunki atmosferyczne i nie wymaga konserwacji.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="card service card-height table-color">
                        <img src="/images/trociny.jpeg" class="img-fluid sizing card-2" alt="Usługa 4" style="height: 200px;">
                        <div class="card-body-2 text-center">
                            <p class="font-family card-text-2">TROCINY</p>
                            <p class="font-family card-text-2 sizing">To naturalny, biodegradowalny materiał idealny do ściółki dla zwierząt, ogrodnictwa oraz do kompostowania.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <div class="card service card-height table-color">
                        <img src="/images/drewno-bukowe.jpeg" class="img-fluid sizing card-2" alt="Usługa 4" style="height: 200px;">
                        <div class="card-body-2 text-center">
                            <p class="font-family card-text-2">Drewno bukowe kominkowe</p>
                            <p class="font-family card-text-2 sizing">To wysokiej jakości opał charakteryzujący się wysoką kalorycznością i długim czasem spalania. Idealne do kominków i pieców, zapewnia efektywne i czyste spalanie. Drewno bukowe jest gęste, co gwarantuje długotrwałe ciepło.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="cennik" class="my-5">
        <h2 class="font-family">Cennik</h2>
        <br>
        <div class="container d-flex justify-content-center">
            <div class="card service pricing table-color">
                <div class="card-body table-color">
                    <table class="table table-borderless table-striped m-auto">
                        <thead>
                        <tr>
                            <th class="font-family text-left pricing-top">Usługa</th>
                            <th class="font-family text-right pricing-top">Cena</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="font-family text-left pricing-row">Transport usługowy</td>
                            <td class="font-family text-right pricing-row">150zł / h</td>
                        </tr>
                        <tr>
                            <td class="font-family text-left pricing-row">Czarnoziem</td>
                            <td class="font-family text-right pricing-row">500zł / 3.5t*</td>
                        </tr>
                        <tr>
                            <td class="font-family text-left pricing-row">Piasek Przesiewany</td>
                            <td class="font-family text-right pricing-row">500zł / 3.5t*</td>
                        </tr>
                        <tr>
                            <td class="font-family text-left pricing-row">Otoczak polny kolorowy</td>
                            <td class="font-family text-right pricing-row">160zł / 1t</td>
                        </tr>
                        <tr>
                            <td class="font-family text-left pricing-row">Trociny</td>
                            <td class="font-family text-right pricing-row">450zł / 5.60m²*</td>
                        </tr>
                        <tr>
                            <td class="font-family text-left pricing-row">Drewno bukowe kominkowe</td>
                            <td class="font-family text-right pricing-row">400zł / 1mp</td>
                        </tr>
                        </tbody>
                    </table>
                    <p class="font-family text-left"><em>* darmowa dostawa na terenie trójmiasta</em></p>
                </div>
            </div>
        </div>
    </section>

    <section id="kontakt" class="my-5">
        <h2 class="font-family">Kontakt z nami</h2>
        <h3 class="font-family">Jesteśmy do Twojej dyspozycji. Skontaktuj się z nami telefonicznie lub poprzez formularz kontaktowy poniżej</h3>
        <br>
        <div class="form-container custom-border">
            <form id="contactForm">
                <div class="mb-3">
                    <label for="name" class="form-label">Imię:</label>
                    <input type="text" class="form-control" id="name" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" required>
                </div>
                <div class="mb-3">
                    <label for="phoneNumber" class="form-label">Numer telefonu: (Opcjonalnie)</label>
                    <input type="tel" class="form-control" id="phoneNumber">
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Wiadomość:</label>
                    <textarea id="message" class="form-control textarea-style" required></textarea>
                </div>
                <button type="submit" class="btn btn-custom">Wyślij</button>
            </form>
        </div>
        <div class="successMessage">
            <p>Wiadomość została wysłana pomyślnie! Skontaktujemy się z tobą w jak najkrótszym czasie.</p>
        </div>
        <br>
        <address class="font-family bigger-font-2">
            <a href="tel:+48576434877">+48 576434877</a><br>
            <a href="mailto:dobrypiasek@gmail.com">dobrypiasek@gmail.com</a><br>
            Juliusza Słowackiego 249<br>
            80-369 Gdańsk
        </address>
    </section>
</div>
<script src="/js/script.js"></script>
</body>
</html>